CREATE TABLE silver.invoices (
    invoice_id INT IDENTITY(1,1) PRIMARY KEY,
    client_id INT NOT NULL,
    invoice_date DATETIME,
    total_amount DECIMAL(10,2),
    status VARCHAR(50),

    CONSTRAINT FK_invoices_clients
        FOREIGN KEY (client_id)
        REFERENCES silver.clients(client_id)
);