/****** Object:  Table [silver].[work_records]    Script Date: 23/05/2026 20:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[work_records](
	[work_record_id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[days_worked] [int] NOT NULL,
	[date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[work_record_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [silver].[work_records] ADD  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [silver].[work_records]  WITH CHECK ADD  CONSTRAINT [fk_work_record_job] FOREIGN KEY([job_id])
REFERENCES [silver].[jobs] ([job_id])
GO
ALTER TABLE [silver].[work_records] CHECK CONSTRAINT [fk_work_record_job]
GO
