/****** Object:  Table [silver].[material_usage]    Script Date: 23/05/2026 20:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[material_usage](
	[material_usage_id] [int] IDENTITY(1,1) NOT NULL,
	[material_id] [int] NOT NULL,
	[job_id] [int] NOT NULL,
	[unit_cost_at_time] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[material_usage_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [silver].[material_usage]  WITH CHECK ADD  CONSTRAINT [fk_material_usage_job] FOREIGN KEY([job_id])
REFERENCES [silver].[jobs] ([job_id])
GO
ALTER TABLE [silver].[material_usage] CHECK CONSTRAINT [fk_material_usage_job]
GO
ALTER TABLE [silver].[material_usage]  WITH CHECK ADD  CONSTRAINT [fk_material_usage_material] FOREIGN KEY([material_id])
REFERENCES [silver].[materials] ([material_id])
GO
ALTER TABLE [silver].[material_usage] CHECK CONSTRAINT [fk_material_usage_material]
GO
