CREATE TABLE silver.sites (
    site_id INT IDENTITY(1,1) PRIMARY KEY,
    client_id INT NOT NULL,
    location VARCHAR(255) NOT NULL,
    status VARCHAR(50),

    CONSTRAINT FK_sites_clients
        FOREIGN KEY (client_id)
        REFERENCES silver.clients(client_id)
);