CREATE TABLE silver.materials (
    material_id INT IDENTITY(1,1) PRIMARY KEY,
    material_name VARCHAR(100) NOT NULL,
    material_manufacturer VARCHAR(100),
    unit VARCHAR(50),
    unit_cost DECIMAL(10,2)
);