CREATE TABLE silver.invoice_jobs (
    invoice_job_id INT IDENTITY(1,1) PRIMARY KEY,
    invoice_id INT NOT NULL,
    job_id INT NOT NULL,
    amount DECIMAL(10,2),

    CONSTRAINT FK_invoicejobs_invoice
        FOREIGN KEY (invoice_id)
        REFERENCES silver.invoices(invoice_id),

    CONSTRAINT FK_invoicejobs_job
        FOREIGN KEY (job_id)
        REFERENCES silver.jobs(job_id)
);