/****** Object:  Table [silver].[payments]    Script Date: 23/05/2026 20:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NOT NULL,
	[payment_date] [datetime2](7) NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[method] [varchar](50) NOT NULL,
	[reference] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [silver].[payments]  WITH CHECK ADD  CONSTRAINT [fk_payment_invoice] FOREIGN KEY([invoice_id])
REFERENCES [silver].[invoices] ([invoice_id])
GO
ALTER TABLE [silver].[payments] CHECK CONSTRAINT [fk_payment_invoice]
GO
ALTER TABLE [silver].[payments]  WITH CHECK ADD  CONSTRAINT [chk_payment_method] CHECK  (([method]='other' OR [method]='cheque' OR [method]='card' OR [method]='cash' OR [method]='bank transfer'))
GO
ALTER TABLE [silver].[payments] CHECK CONSTRAINT [chk_payment_method]
GO
