CREATE TABLE silver.jobs (
    job_id INT IDENTITY(1,1) PRIMARY KEY,
    site_id INT NOT NULL,
    job_description VARCHAR(500),
    start_date DATETIME,
    end_date DATETIME,
    status VARCHAR(50),

    CONSTRAINT FK_jobs_sites
        FOREIGN KEY (site_id)
        REFERENCES silver.sites(site_id)
);