/****** Object:  Table [silver].[employee_assignment]    Script Date: 23/05/2026 20:50:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[employee_assignment](
	[assigment_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[job_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[assigment_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_employee_assignment] UNIQUE NONCLUSTERED 
(
	[employee_id] ASC,
	[job_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [silver].[employee_assignment] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [silver].[employee_assignment]  WITH CHECK ADD  CONSTRAINT [fk_employee_assignment_employee] FOREIGN KEY([employee_id])
REFERENCES [silver].[employees] ([employee_id])
GO
ALTER TABLE [silver].[employee_assignment] CHECK CONSTRAINT [fk_employee_assignment_employee]
GO
ALTER TABLE [silver].[employee_assignment]  WITH CHECK ADD  CONSTRAINT [fk_employee_assignment_job] FOREIGN KEY([job_id])
REFERENCES [silver].[jobs] ([job_id])
GO
ALTER TABLE [silver].[employee_assignment] CHECK CONSTRAINT [fk_employee_assignment_job]
GO
