/****** Object:  Table [bronze].[raw_jobs]    Script Date: 23/05/2026 21:01:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[raw_jobs](
	[job_raw_id] [int] IDENTITY(1,1) NOT NULL,
	[job_date] [date] NULL,
	[client_name] [nvarchar](100) NULL,
	[location] [nvarchar](100) NULL,
	[operative_name] [nvarchar](100) NULL,
	[material_name] [nvarchar](100) NULL,
	[manufacturer] [nvarchar](100) NULL,
	[quantity_used] [int] NULL,
	[days_worked] [int] NULL,
	[amount_charged] [decimal](10, 2) NULL,
	[job_status] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[job_raw_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [bronze].[raw_jobs] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
